{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Logic Solver</title>

        <!-- font -->
    	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
        <script src="https://kit.fontawesome.com/963498ac74.js" crossorigin="anonymous"></script>

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- custom style -->
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

         <!-- bootstrap -->
         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

         <!-- jQuery -->
         <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

         <!-- custom js -->
         <script type="text/javascript" src="{% static 'index.js' %}"></script>
     </head>

     <body>
        <section class="ftco-section">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section">Theorem Prover</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="wrapper">
                            <div class="row no-gutters">
                                <div class="col-md-6 d-flex align-items-stretch">
                                    <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                                        <h3 class="mb-4">Input Formula</h3>
                                        <div id="form-message-warning" class="mb-4"></div>
                                        <form method="POST" action="/" id="contactForm" name="contactForm" class="contactForm">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <textarea name="formula" class="form-control" id="message" cols="30" rows="6" placeholder="Formula">{{ formula }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group text-center">
                                                        <input type="submit" value="Prove" class="btn btn-primary">
                                                        <div class="submitting"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6 d-flex align-items-stretch">
                                    <div class="info-wrap w-100 p-md-5 p-4 py-5 img">
                                        <h3>Output</h3>
                                        <p class="mb-4" style="white-space: pre-wrap;">{{ steps }}</p>
                                        <div class="dbox w-100 d-flex align-items-start">
                                            <div class="icon d-flex align-items-center justify-content-center">
                                                <i class="fas fa-code"></i>
                                            </div>
                                            <div class="text pl-3">
                                                <p><span>Operators:</span>
                                                    "<span class="text-danger">(</span>",
                                                    "<span class="text-danger">)</span>",
                                                    "<span class="text-danger">^</span>",
                                                    "<span class="text-danger">v</span>",
                                                    "<span class="text-danger">=></span>",
                                                    "<span class="text-danger"><=></span>"
                                                </p>
                                                <p><span>Example:</span> ((p => q) => p) => p</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
     </body>
 </html>
